# Core packages
flask==3.1.0            # pip install flask
ipython==9.0.2          # pip install ipython
flask-sqlalchemy==3.1.1 # pip install flask-sqlalchemy
flask-migrate==4.1.0    # pip install flask-migrate

# Additional packages (dependencies installed by pip)
alembic==1.15.1
asttokens==3.0.0
blinker==1.9.0
click==8.1.8
colorama==0.4.6
decorator==5.2.1
executing==2.2.0
greenlet==3.1.1
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.5
mako==1.3.9
markupsafe==3.0.2
matplotlib-inline==0.1.7
parso==0.8.4
prompt_toolkit==3.0.50
pure_eval==0.2.3
pygments==2.19.1
sqlalchemy==2.0.39
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
werkzeug==3.1.3